* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

nav {
  background-color: #fff;
  box-shadow: 1px 1px 10px #ddd;
}

.links {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.links a {
  font-family: "Open Sans", serif;
  text-decoration: none;
  color: gray;
  display: block;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease;
}

.links a:hover {
  background-color: rgba(211, 211, 211, 0.44);
  padding-left: 1.5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  text-decoration: none;
  color: #262626;
  display: inline-block;
  font-family: "Roboto", serif;
  font-size: 1.55rem;
  font-weight: 400;
  letter-spacing: 2.2px;
}

#nav-toggle {
  border-width: 0;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #262626;
}

.show-links {
  background-color: lightcyan;
  height: 115.33px;
}


/* hero-section */




@media screen and (min-width: 800px) {
  #nav-toggle {
    display: none;
  }

  .nav-header {
    padding: 0;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .links {
    height: auto;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: transparent;


  }

  .links a {
    padding: 0;
    color: #262626;
  }

  .links a:hover {
    background-color: transparent;
    padding: 0;
  }

}